*synctex.gz
*.Rapp.history
*.Rdata
*.RData
*.Rda
*.rds
*.rda
*.Rds
*.Rhistory
*.DS_Store
*.docx
*.ppt
*.pptx
*.aux
*.log
*.blg

notposting/
.Rproj.user
wcvp/
wcvp_Mao/

analyses/modeling/output/

data/speciesrange/
data/plant_rasters/dist_gm_all/
data/plant_rasters/iNaturalist*.gpkg

analyses/figures/spDist/comp.pdf
analyses/figures/spDist/GM.pdf
analyses/figures/spDist/iNat.pdf

analyses/analyseBudSeed/output/
